.app-user-page {
    width: 100%;
}
body {
    margin: 0px;
    background:#eceaea;
}

div,span,li,ul,table,tr,td,ol,h1,h2,h3,h4,h5,h6,p,br,tspan {
    font-family: 'Lato';
}
.page-container {
    width: 1280px;
    margin: auto ;
}