.custom-tab .nav-tabs .active{
    background: white !important ; 
    color: black;
}
.custom-tab .nav-tabs {
    border: none ;
}

.custom-tab .nav-tabs a {
    color: black; 
    text-align: center;
    font-size: 12px;    
}
.custom-tab .nav-tabs .nav-item {
    border: none ;
    background: #D9D9D9 ;
}
